@model TestTaxi.Models.MyIndexViewModel<TestTaxi.Models.Driver>
@using TestTaxi.Helpers

@{
    ViewBag.Title = "Водители";
}

<h2>Водители</h2>

<p>
    @Html.ActionLink("Добавить новую", "Create")
</p>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Фамилия: </label>
        <input type="text" name="secondName" value="@ViewBag.SecondName" class="form-control text-box">
        <label class="control-label">Телефон: </label>
        <input type="text" name="phone" value="@ViewBag.Phone" class="form-control text-box">
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <tr>
        <th>
           Фамилия
        </th>
        <th>
           Имя
        </th>
       
        <th>
           Отчество
        </th>
        <th>
           Машина
        </th>
        <th>
           Телефон
        </th>
        <th>
         День рождения
        </th>
        <th>
           Дата приема на работу
        </th>
        <th>
          Категория
        </th>
        <th>
           Место положение
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Keeps) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SecondName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfEmployment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District.Name)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Детали", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x, secondName = @ViewBag.SecondName, phone = @ViewBag.Phone }))
</div>
