@model TestTaxi.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
         Клиент   @Html.DisplayNameFor(model => model.Client.SecondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.SecondName)
        </dd>

        <dt>
         Водитель   @Html.DisplayNameFor(model => model.Driver.SecondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.SecondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationOrder.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationOrder.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueTaximeter.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueTaximeter.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
