@model TestTaxi.Models.MyIndexViewModel<TestTaxi.Models.Order>
@using TestTaxi.Helpers

@{
    ViewBag.Title = "Заказы";
}

<h2>Заказы</h2>

<p>
    @Html.ActionLink("Добавить новый", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
           Водитель
        </th>
        <th>
            Id информации
        </th>
        <th>
            Id таксометра
        </th>
        <th>
            Статус
        </th>
        
        <th>
            Клиент
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Keeps) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Driver.SecondName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationOrder.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueTaximeter.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.SecondName)
        </td>
       
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Детали", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>
