@model TestTaxi.Models.MyIndexViewModel<TestTaxi.Models.District>
@using TestTaxi.Helpers

@{
    ViewBag.Title = "Районы";
}

<h2>Районы</h2>

<p>
    @Html.ActionLink("Добавить новый", "Create")
</p>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Фамилия: </label>
        <input type="text" name="secondName" value="@ViewBag.NameFiltr" class="form-control text-box">
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Keeps) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Детали", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x ,nameFilter= @ViewBag.NameFiltr }))
</div>
