@model TestTaxi.Models.MyIndexViewModel<TestTaxi.Models.Car>
@using TestTaxi.Helpers


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Добавить новую", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Модель
        </th>
        <th>
            Тип
        </th>
        <th>
           Название
        </th>
        <th>
          Кол. мест
        </th>
        <th>
          ГОС номер
        </th>
        <th>
         Комфортность
        </th>
        <th>
          Рабочая
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Keeps) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeCar.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GosNumbet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Детали", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>
