
@{
    ViewBag.Title = "Такси менеджер";
}
@Styles.Render("~/Content/style.css")
<div  class="row">
    <div class="col-md-12">
        <p>
            <div class="image">
                <img alt="Taxi image" src="~/Resources/MainTaxiWalper.png" />
                <h1 class="innertext"><span>Такси менеджер</span></h1>
            </div>
        </p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>
</div>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <div class="row">
        <div class="col-md-4 col-xs-6">
            <div class="selectbox">
                <img alt="Taxi image" src="~/Resources/order.png" />
                <h1 class="innertext-to-smal"><span>Оформить заказ</span></h1>
                <p class="btn-on-image">
                    @Html.ActionLink("Перейти", "Index", "Orders", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
                </p>

            </div>

        </div>
        <div class="col-md-4 col-xs-6">
            <div class="selectbox">
                <img alt="Taxi image" src="~/Resources/taxi_driver.png" />
                <h1 class="innertext-to-smal"><span>Водители</span></h1>
                <p>@Html.ActionLink("Перейти", "Index", "Drivers", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>
            </div>


        </div>
        <div class="col-md-4 col-xs-6">
            <div class="selectbox">
            <img alt="Taxi image" src="~/Resources/transport.png" />
            <h1 class="innertext-to-smal">
                <span>Автопарк</span>
            </h1>
            <p>@Html.ActionLink("Перейти", "Index", "Cars", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>
        </div>
    </div>

    </div><div class="row">
              <div class="col-md-4 col-xs-6">
                  <div class="selectbox">
                      <img alt="Taxi image" src="~/Resources/clients.png" />
                      <h1 class="innertext-to-smal">
                          <span>Клиенты</span>
                      </h1>
                      <p>
                          @Html.ActionLink("Перейти", "Index", "Orders", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
                      </p>
                  </div>
              </div>
              <div class="col-md-4 col-xs-6">
                  <div class="selectbox">
                      <img alt="Taxi image" src="~/Resources/strets.png" />
                      <h1 class="innertext-to-smal">
                          <span>Улицы</span>
                      </h1>
                      <p>
                          @Html.ActionLink("Перейти", "Index", "Streets", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
                      </p>
                  </div>
              </div>
              <div class="col-md-4 col-xs-6">
                  <div class="selectbox">
                      <img alt="Taxi image" src="~/Resources/district.png" />
                      <h1 class="innertext-to-smal">
                          <span>Районы</span>
                      </h1>
                      <p>
                          @Html.ActionLink("Перейти", "Index", "Districts", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
                      </p>
                  </div>
              </div>
    </div>
  
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <div class="selectbox">
                <img alt="Taxi image" src="~/Resources/brand.png" />
                <h1 class="innertext-to-smal">
                    <span>Марки</span>
                </h1>
                <p>
                    @Html.ActionLink("Перейти", "Index", "Brands", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
                </p>
            </div>
        </div>
    </div>

}
